@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

:root {
    --vermelho: rgb(173, 37, 13);
    --vermelho-escuro: rgb(128, 0, 0);
    --cinza: rgb(77, 77, 77);
}

header {
    display: flex;
    justify-content: center;
    width: full;
    background-color: var(--vermelho);
    padding: 1rem;
    text-align: center;
    color: white;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    width: 3rem;
    height: 3rem;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.section-title {
    display: flex;
    width: fit-content;
    font-family: 'Fira Sans', serif;
}

.popular-recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.recipe {
    background-color: var(--vermelho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    transition-duration: 100ms;
    transition-behavior: ease-in-out;
}

.recipe:hover {
    background-color: var(--vermelho-escuro);
    scale: 1.05;
}

.recipe a {
    text-decoration: none;
    font-family: 'Fira Sans', serif;
    color: white;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.welcome-image {
    background-color: var(--vermelho);
    width: 100%;
    height: auto;
    max-height: 60vh;
}

.welcome-title {
    font-family: "Fira Sans", serif;
}

.welcome-text {
    display: flex;
    padding: 0rem 4rem;
    max-width: 70rem;
    font-family: 'Fira Sans', serif;
    text-align: justify;
    text-indent: 4rem;
    font-size: 1rem;
}

footer {
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: white;
    font-family: 'Fira Sans', serif;
}